.home {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home_name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}

.home_name_last {
  color: #ff652f;
  font-weight: 700;
}

.menu_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn_burger {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  height: 3px;
  width: 28px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn_burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn_burger::after {
  content: '';
  top: 8px;
  width: 20px;
  height: 3px;
  position: absolute;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu_btn_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu_btn_burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.88;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #272727;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu_nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu_nav.active {
  color: #ff652f;
}

.nav .menu_nav_item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu_nav_link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 2rem 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu_nav_link:hover {
  color: #ff652f;
}

.menu_nav_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu_nav_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu_nav_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

body {
  line-height: 1;
  color: #fff;
  background-color: #272727;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  padding: 1rem;
  z-index: 2;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

main .social_icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social_icons a {
  padding: 0.4rem;
}

main .social_icons a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ff652f;
}

footer {
  padding: 1rem;
  bottom: 0.4rem;
  text-align: right;
  color: #fff;
  right: 1rem;
  position: fixed;
  font-size: 1rem;
}

footer:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ff652f;
}
/*# sourceMappingURL=main.css.map */